@{
    ViewData["Title"] = "Home Page";
}
<div class="blog_entry large">
    <div class="blog_entry_header">
        <div class="title">Welcome!</div><div class="date"></div>
        <hr style="opacity:0.3"/>
        <div class="body">
            My name is BlueMagic and I'm  an engineer based in Argentina. I can program and design systems as well as video-games.<br />
            Drop me an e-mail if you feel like it!
            <br />
            <br />
            <br />
            <a href="https://ar.linkedin.com/in/amigoignacio">linkedin</a> /
            <a href="https://twitter.com/ignacioamigo">twitter</a> /
            <a href="https://instagram.com/amigoignacio">instagram</a> 
        </div>
    </div>
</div>
